<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Однофазная модель</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card"  >
        <img src="/images/FourPhase.jpg" class="card-img-top">
        <div class="card-body">
          <p class="card-text">Однофазная модель данных (Single-phase model) - это архитектура программной системы, которая используется для обработки потоков данных в однопоточной среде.

            Она состоит из одной фазы:
            Обработка данных (Processing phase) - данные обрабатываются в соответствии с требованиями приложения.
            В отличие от четырехфазной модели данных, каждый поток здесь выполняет все этапы обработки данных последовательно. Однако, можно использовать несколько однопоточных потоков параллельно для обработки нескольких потоков данных.
            Такая архитектура подходит для обработки небольших объемов данных и упрощает процесс программирования. Однако, она может быть менее эффективной для обработки больших объемов данных или в случаях, когда необходимо обрабатывать данные быстро и параллельно.</p>
        </div>
      </div>
    </div>
    <div class="col-7   ">
      <form method="get" class="form-horizontal" action="/four-phase-simulate">
        <div class="row mb-3">
          <div class="row mb-3">
            <label for="sel1" class="col-sm-5 col-form-label">Введите количество каналов обработчиков:</label>
            <div class="col-sm-5">
              <input type = "number" class="form-control" id="sel1" name="NUMBER_OF_CHANNELS" placeholder="0">
            </div>
          </div>
          <div class="row mb-3">
            <label for="sel2" class="col-sm-5 col-form-label">Введите частоту обработки пакетов:</label>
            <div class = "col-sm-5">
              <input type = "number" class="form-control" step="0.00001" id="sel2" name="SERVICE_RATE" placeholder="0.0 - 0.9">
            </div>
          </div>
          <div class="row mb-3">
            <label for="sel3" class="col-sm-5 col-form-label">Введите продолжительность моделирования:</label>
            <div class = "col-sm-5">
              <input type = "number"  class="form-control" id="sel3" name="SIMULATION_TIME" placeholder="0-1000">
            </div>
          </div>
          <div class = "row mb-3">
            <label for="sel4" class="col-sm-5 col-form-label">Введите максимальный размер буффера:</label>
            <div class = "col-sm-5">
              <input type = "number" class="form-control" id="sel4" name="MAX_QUEUE_SIZE" placeholder="0-10000">
            </div>
          </div>
          <div class="row mb-3">
            <label for="sel5" class="col-sm-5 col-form-label">Введите количество экспериментов:</label>
            <div class="col-sm-5">
              <input type = "number" class="form-control" id="sel5" name="NUMBER_OF_EXPERIMENTS" placeholder="0-10000">
            </div>
          </div>
          <div class ="row mb-3">
            <label for="sel6" class="col-sm-5 col-form-label">Введите границу значений которые не должны превышать потери пользователей:</label>
            <div class="col-sm-5">
              <input type = "number" class="form-control" id="sel6" name="ProbabilityLost" placeholder="0-1000">
            </div>
          </div>
          <div class ="row mb-3">
            <label for="sel7" class="col-sm-5 col-form-label">Введите границу для полученных пакетов:</label>
            <div class="col-sm-5">
              <input type = "number" class="form-control" id="sel7" name="ProbabilityResived" placeholder="0-1000">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success btn-lg">Ok</button>
      </form>
    </div>
  </div>
</div>
</form>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>