<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Главная страница</title>

</head>
<body>
<header th:insert="blocks/header ::header"></header>
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-1">Здравствуйте</h1>
        </div>
    </div>
    <div class="row">
        <p class="fs-3">
        Представляем вам веб-приложение для оценивания показателей риска при создании современных сетей связи. Это приложение использует моделирование и анализ данных для определения вероятности возникновения рисковых событий, связанных с созданием сетей связи.
        </p>
        <p class="fs-2">
        Пользователь может задать различные параметры своей системы связи, такие как количество устройств, технологии передачи данных, тип используемого оборудования и т.д. После этого приложение проводит расчеты и создает модель системы связи, которая может быть использована для анализа рисков.
        </p>
        <p class="fs-3">
        Одной из главных функций приложения является возможность вычисления плотности вероятности не превышения или превышения нужного показателя риска. Например, пользователь может хотеть оценить вероятность того, что его сеть связи не будет работать более 10 часов в месяц. Приложение проведет расчеты и выведет на экран показатель вероятности не превышения этого значения.
        </p>
        <p class="fs-3">
        Кроме того, приложение может предоставить пользователю рекомендации по снижению рисков, связанных с созданием сетей связи. Например, если модель системы связи выявила узкие места, приложение может предложить рекомендации по улучшению инфраструктуры или замене устаревшего оборудования.
        </p>
    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>